* {
	margin  : 0px;
	padding : 0px;
}
html, body {
	width:100%;
	height:100%;
}
#main {
	display: block;
	width:100%;
	height:100%;
	padding-top:100px;
}

h1 {
	font-size: 18px; font-size: 1.8rem;
	width: 300px;
	margin:0 auto;
}
